<html>
    <head>
      {% if title %}
      <title>{{ title }} - Agregator</title>
      {% else %}
      <title>Welcome to Agregator</title>
      {% endif %}
    </head>
    <body>
        <div>Agregator:
            <a href="{{ url_for('main.index') }}">Home</a>
            <a href="{{ url_for('main.afisha') }}">Afisha</a>
            <a href="{{ url_for('main.village') }}">The-Village</a>
            <a href="{{ url_for('main.vc') }}">VC</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>